/* Standard Elements */

html { min-height: 100%; }

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://themes.googleusercontent.com/static/fonts/librebaskerville/v2/pR0sBQVcY0JZc_ciXjFsK5gtRqbDAavNCEBluaoIIJc.woff) format('woff');
}

@font-face {
  font-family: "ArcadeClassic";
  src: url("../font/ArcadeClassic.otf") format("opentype");
}

/* Body content */

body
{
  font-family: 'Libre Baskerville', serif;
  background-color: #FCFEFD;
  margin: 0 auto;
  text-align: justify;
}

/* hyperlinks */

a {
  text-decoration: none;
  color: #FCFEFD;
}

a:hover {
  text-decoration: underline;
}

/* Container */

#container
{
  padding-top: 70px;
}

/* Content */

#content
{
  color: #666666;
        
  font-size: 25px;
  text-align: center;

  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 70px;

  display: block;
}

/* Name */

#name {
  font-family: "ArcadeClassic";
  letter-spacing: 2px;
  word-spacing: 10px;
  text-align: justify;

  font-size: 60px
}

/* Links */

.links {
  padding-top:10px;
  font-size: 40px;
  height: 60px;
  text-align: center;

  -webkit-transition: opacity 100ms ease-out;
  -moz-transition: opacity 100ms ease-out;
  -o-transition: opacity 100ms ease-out;
  transition: opacity 100ms ease-out;
}

.links:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}

/* color links */

#first {
  background-color: #2E282A;
}

#second {
  background-color: #17BEBB;
}

#third {
  background-color: #CD5334;
}

#fourth {
  background-color: #EDB88B;
}

#fifth {
  background-color: #048A81;
}