code {
  font-family: monospace,monospace;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding-left: 20px;
}

blockquote {
  font-style: italic;
}

.blog-cutout {
  background-color: #ffffff;
}

.blogpost-wrapper {
  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;

  padding: 15px;
}

.blog-footer-buttons {
  width: 33.3%;
}

.blog-footer-center-buttons {
  display: flex;
  width: 100%;
}

.blog-footer-cut-out {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px)  {
  .blog-footer-buttons {
    width: 100%;
  }
}
