.lightbulb-shadow {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 26px;
  top: 29px;
  border-radius:50%;
  -webkit-box-shadow: 0px 0px 100px 55px rgba(255,220,0,1);
  -moz-box-shadow: 0px 0px 100px 55px rgba(255,220,0,1);
  box-shadow: 0px 0px 100px 55px rgba(255,220,0,1);
}

.lightbulb {
  pointer-events: none;
  position: absolute;
}

.lightbulb-container {
  position: absolute;
}

.bulb-buttons {
  width: 50%;
}

.bulb-cut-out {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}