.contact_window {
  width: 450px;
}

@media only screen and (max-width: 400px)  {
  .contact_window {
    width: 280px;
  }
}

.social_icon {
  width: 60px;
  margin: 5px;
  height: 60px;
  background-color: white;
}

.social_icons_container {
  padding-top: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}