.credits_window {
  width: 630px;
  padding-bottom: 5px;
}

.bulletpoint_container {
  background: #eeeeee;
  padding: 10px;

  margin-bottom: 10px;

  border: 1px solid;
  padding: 10px;
  box-shadow: 10px 10px #707070;
}

.paragraph_title {
  font-weight: bold;
}

.accordion_icon {
  height: 17px;
  margin-left: 5px;
}

.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media only screen and (max-width: 400px)  {
  .credits_window {
    width: 300px;
  }
}