.foglio-cutout {
  background-color: #ffffff;
}

.document-style {
  padding: 15px;
  margin-top: -20px;
}

.foglio-footer-buttons {
  width: 50%;
}

.foglio-footer-cut-out {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px)  {
  .foglio-footer-buttons {
    width: 100%;
  }
}
