.foglio-cutout {
  background-color: #ffffff;
}

.document-style {
    /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  padding: 15px;
  margin-top: -20px;
}

.foglio-footer-buttons {
  width: 50%;
}

.foglio-footer-cut-out {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px)  {
  .foglio-footer-buttons {
    width: 100%;
  }
}
