.link-list {
  overflow: auto;
  overflow-y: hidden;
  color: white;
  background-color: #3968C2;
  font-weight: bold;

  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}

.link-list a {
  color: #3968C2;
  text-transform: uppercase;
  text-decoration: none;
  background-color: lightgray;

  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;
}

.link-list a:hover {
  color: white;
  background-color: lightseagreen;
}

.link-style {
  padding: 5px;
  margin-left: 5px;
}

.globe-container {
  background-color: black;
  width: 80px;
  height: 80px;
  float: right;

  margin-left: 15px;
  margin-bottom: 15px;
}

.globe-picture {
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}