.links-window {
  width: 570px;
}

.link-list {
  overflow: auto;
  overflow-y: hidden;
  color: white;
  background-color: #3968C2;
  font-weight: bold;

  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}

.link-list a {
  color: yellow;
}

.link-list a:hover {
  color: red;
}

.link-list a:visited {
  color: lightgray;
}

.link-style {
  padding: 3px;
}

.globe-container {
  background-color: black;
  width: 80px;
  height: 80px;
  float: right;

  margin-left: 15px;
  margin-bottom: 15px;
}

.globe-picture {
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 400px)  {
  .links-window {
    width: 280px;
  }
}