.music-window-container {
  width: 330px;
}

.head-container {
  position: absolute;
  top: 35px;
  width: 342px;
  height: 394px;
  background: url(../../resources/images/head.gif) no-repeat;

  pointer-events: none;
}

.head-left-ear {
  position: absolute;
  width: 45px;
  height: 165px;
  top: 85px;

  pointer-events: all;
}

.head-right-ear {
  position: absolute;
  width: 45px;
  height: 165px;
  top: 85px;
  right: 2px;

  pointer-events: all;
}

.head-overlay {
  position: absolute;
  width: 246px;
  height: 395px;
  left: 47px;
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;

  pointer-events: all;
}

.player-head {
  position: absolute;
  width: 185px;
  bottom: 192px;
  left: 80px;
  pointer-events: all;
}

.social-button-container {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 10px;
}

.social-button {
  cursor: url(../../resources/icons/pointers/pointer.gif), auto;
}

.music-track-text {
  color: yellow;
  font-weight: bold;
  font-size: 20px;
  cursor: url(../../resources/icons/pointers/pointer.gif), auto;
}