.pizza-wizard-container {
  padding-bottom: 10px;
  display: flex;
}

.pizza-wizard-side-image {
  height: 400px;
  width: 150px;
  margin-right: 20px;
  object-fit: cover;
  border: 3px inset rgb(0, 0, 0);
}

.pizza-wizard-progress {
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: -60px;

  display: flex;
  justify-content: flex-end;
}

.pizza-wizard-text-container {
  margin-bottom: 50px;
}

.underline-text {
  border-bottom: 1px solid #000;
}

.pizza-wizard-buttons-container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}