.remote-desktop-cutoutbg {
  background-color: #ffffff;
}

.remote-desktops-icons-container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.single-icon {
  padding: 10px;
}

.single-icon:hover .computer-icon {
  filter: grayscale(100%) brightness(5%) sepia(100%) hue-rotate(170deg)
    brightness(900%) saturate(500%);
}

.computer-icon {
  display: block;
  backface-visibility: hidden;
}

.website-favicon {
  position: relative;
  bottom: 59px;
  left: 21px;
}