.unknown-message-text {
  margin-top: -10px;
  display: block;
  font-size: 1.5em;
  font-weight: bold;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.unknown-subtext {
  padding-top: 20px;
}