.hint-message-style-header {
  text-shadow: 0px 0px 5px red;
  color: red;
}

.hint-message-style {
  background-color: black;
  text-shadow: 0px 0px 5px lime;
  color: lime;
  font-size: 17px;
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}

.unknown-subtext {
  margin-bottom: 20px;
}
