.popup-window-container {
  position: absolute;
  z-index: 4;
  padding: 10px;

  touch-action: auto;

  margin-left: -15px;
  margin-top: -25px;
}

.popup-movable-header {
  cursor: grab;
}

.popup-movable-header:active {
  cursor: grabbing;
}