.popup-window-container {
  position: absolute;
  z-index: 4;

  touch-action: auto !important;

  margin-left: -10px;
  margin-right: 10px;
  margin-top: -15px;
}

.popup-movable-header {
  cursor: url(../resources/images/grab.gif), auto;
}

.popup-movable-header:active {
  cursor: url(../resources/images/grabbing.gif), auto;
}