.window_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.window_title_text {
  padding-right: 20px;
}

.window_title_buttons {
  margin-right: -6px;
  display: flex;
  justify-content: space-between;
}