.centered-item {
  position: absolute;
  top: 50%;
  left: 50%;
  color: red;
  background-color:black;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}