.crt-label {
  font-size: 12px;
  position: absolute;
  right: 50px;
  bottom: 2px;
  text-shadow: -1px -1px 1px white;
}

@media only screen and (max-width: 400px)  {
  .crt-label {
    font-size: 11px;
  }
}

.switch-container {
  position: absolute;
  right: 20px;
  bottom: 2px;
  opacity: 0.7;
  filter: Alpha(opacity=70);
}